
a{
color:#fff;
}
.top{
width:100%;
height:50px;
background:#044e97;
position:fixed;
z-index:10px;
left:0px;
top:0px;

}
#
body{
margin:0;
padding:0;
border:0;
}
h2{height:400px;line-height:400px;}

#nav_1{
width:50%;
margin:auto;
background:#ccc;
}
#top-menu{
width:50%;
margin:auto;
height:50px;
}

#top-menu-logo{
font-size:20px;
line-height:50px;
color:#fff;
width:70px;

}

a{
text-decoration:none;
}


#top-menu-list{
height:50px;
border:0px;
padding:0px;
line-height:50px;
margin:auto;
left:70px;
}
ul{
list-style:none;
margin:auto;
}
li{
float:left;
line-height:50px;
height:50px;
width:50px;
margin-left:10px;
}


