a{
text-decoration:none;

}
ul{
list-style:none;
}
li{
list-style:none;
float:left;
margin-left:8px;

}
body{
margin:0;

}

#top_nav{
width:100%;
height:70px;

}
#top-nav-inner{
width:70%;
height:70px;
margin:0 auto;
text-align:center;
background:#DCD;
}
#logo{
width:10%;
height:54px;
float:left;
background:#ACD;
text-align:center;
line-height:54px;
}
#nav_user{
width:30%;
height:54px;
background:#bCD;
text-align:center;
float:right;
line-height:54px;
}
#nav_menu{
width:60%;
height:54px;
line-height:54px;
background:#EFf;
margin-left:10%;
}
#main{
height:1000px;
width:70%;

margin:0 auto;
}

#main_left{
width:70%;
background:#aaa;
height:1000px;
float:left;
}
#content{
width:100%-30px;

height:60px;
line-height:60px;
padding:15px;
border-bottom:1px dotted #000;

}

#message{
width:30%;
margin-left:70%;
height:1000px;
background:#CCC;
padding:15px;

}